.card {
    display: inline-block;
    max-width: 280px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);

    img {
      width: 185px;
      height: 185px;
      object-fit: cover;
      border-radius: 6px 6px 0 0;
    }

    h2, h4 {
      margin: 0;
      padding: .4em;
      text-align: center;
    }

    h2 {
      font-size: 1em;
      font-weight: normal;
    }
    h4 {
      font-size: .95em;
    }
  }
