<app-layout class="cadastro-component">

  <h1>Cadastro</h1>

  <form class="form-cadastro" #cadForm="ngForm" (ngSubmit)="cadastrar(cadForm)">

    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" [(ngModel)]="candidato.nome">

    <label for="setor">Setor</label>
    <input type="text" name="setor" id="setor" [(ngModel)]="candidato.setor">

    <br>
    <button type="button" (click)="capturarFoto()">Tirar Foto</button>

    <br>
    <ion-button color="success" type="submit">Salvar</ion-button>
    <ion-button (click)="voltar()">cancelar</ion-button>

  </form>

</app-layout>