.cadastro-component {
    .form-cadastro {
        label {
            display: block;
        }
    }

    button {
        border: 0;
        background-color: darkgreen;
        color: #fff;
        border-radius: 4px;
        padding: .5em 1em;
        box-shadow: 0 2px 5px rgba(0,0,0,.3);
        margin: .5em 0;
    }
    button[type=submit] {
        background-color: orangered;
    }
}