.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .barra-topo {
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        background-color: deeppink;
        color: #fff;

        span {
            flex-grow: 1;
            font-weight: bold;
        }

        button {
            border-radius: 5px;
            border: 1px solid #c0c0c0;
            padding: .4em .6em;
            text-transform: uppercase;
            background-color: #fff;
            color: #333;
        }
    }

    .principal {
        flex-grow: 1;
        width: 100%;
        padding: 1em;
    }
}